<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hniu.mapper.AddCurriculumMapper" >
  <resultMap id="BaseResultMap" type="com.hniu.entity.AddCurriculum" >
    <id column="add_id" property="addId" jdbcType="INTEGER" />
    <result column="tution_id" property="tutionId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="course_grade" property="courseGrade" jdbcType="DOUBLE" />
    <result column="is_qualified" property="isQualified" jdbcType="BIT" />
    <result column="star" property="star" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    add_id, tution_id, user_id, course_grade, is_qualified, star
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hniu.entity.AddCurriculumExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_add_curriculum
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_add_curriculum
    where add_id = #{addId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_add_curriculum
    where add_id = #{addId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hniu.entity.AddCurriculumExample" >
    delete from tbl_add_curriculum
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hniu.entity.AddCurriculum" >
    insert into tbl_add_curriculum (add_id, tution_id, user_id, 
      course_grade, is_qualified, star
      )
    values (#{addId,jdbcType=INTEGER}, #{tutionId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{courseGrade,jdbcType=DOUBLE}, #{isQualified,jdbcType=BIT}, #{star,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hniu.entity.AddCurriculum" >
    insert into tbl_add_curriculum
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="addId != null" >
        add_id,
      </if>
      <if test="tutionId != null" >
        tution_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="courseGrade != null" >
        course_grade,
      </if>
      <if test="isQualified != null" >
        is_qualified,
      </if>
      <if test="star != null" >
        star,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="addId != null" >
        #{addId,jdbcType=INTEGER},
      </if>
      <if test="tutionId != null" >
        #{tutionId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="courseGrade != null" >
        #{courseGrade,jdbcType=DOUBLE},
      </if>
      <if test="isQualified != null" >
        #{isQualified,jdbcType=BIT},
      </if>
      <if test="star != null" >
        #{star,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hniu.entity.AddCurriculumExample" resultType="java.lang.Integer" >
    select count(*) from tbl_add_curriculum
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_add_curriculum
    <set >
      <if test="record.addId != null" >
        add_id = #{record.addId,jdbcType=INTEGER},
      </if>
      <if test="record.tutionId != null" >
        tution_id = #{record.tutionId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.courseGrade != null" >
        course_grade = #{record.courseGrade,jdbcType=DOUBLE},
      </if>
      <if test="record.isQualified != null" >
        is_qualified = #{record.isQualified,jdbcType=BIT},
      </if>
      <if test="record.star != null" >
        star = #{record.star,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_add_curriculum
    set add_id = #{record.addId,jdbcType=INTEGER},
      tution_id = #{record.tutionId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      course_grade = #{record.courseGrade,jdbcType=DOUBLE},
      is_qualified = #{record.isQualified,jdbcType=BIT},
      star = #{record.star,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hniu.entity.AddCurriculum" >
    update tbl_add_curriculum
    <set >
      <if test="tutionId != null" >
        tution_id = #{tutionId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="courseGrade != null" >
        course_grade = #{courseGrade,jdbcType=DOUBLE},
      </if>
      <if test="isQualified != null" >
        is_qualified = #{isQualified,jdbcType=BIT},
      </if>
      <if test="star != null" >
        star = #{star,jdbcType=DOUBLE},
      </if>
    </set>
    where add_id = #{addId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hniu.entity.AddCurriculum" >
    update tbl_add_curriculum
    set tution_id = #{tutionId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      course_grade = #{courseGrade,jdbcType=DOUBLE},
      is_qualified = #{isQualified,jdbcType=BIT},
      star = #{star,jdbcType=DOUBLE}
    where add_id = #{addId,jdbcType=INTEGER}
  </update>
  <resultMap id="AddCurriculumAll" type="com.hniu.entity.vo.AddCurriculumVo" extends="BaseResultMap">
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_Name" property="userName" jdbcType="VARCHAR" />
    <result column="wechat" property="wechat" jdbcType="VARCHAR" />
    <result column="tution_id" property="tutionId" jdbcType="INTEGER" />
    <result column="curriculum_id" property="curriculumId" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="endtime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="schedules" property="schedules" jdbcType="VARCHAR" />
    <result column="population" property="population" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="main_teacher" property="mainTeacher" jdbcType="VARCHAR" />
  </resultMap>

  <select id="AddCurriculumAll" resultMap="AddCurriculumAll">
      SELECT a.*,b.*,c.`name`,c.picture,d.user_id,d.user_Name,d.wechat
      FROM tbl_add_curriculum a LEFT JOIN tbl_tution b
      ON a.tution_id = b.tution_id
      LEFT JOIN tbl_curriculum c
      ON b.curriculum_id = c.curriculum_id
      LEFT JOIN tbl_user d
      ON a.user_id = d.user_id
  </select>
  <select id="count" resultType="java.lang.Integer">
    select COUNT(tbl_add_curriculum.add_id)
    FROM tbl_add_curriculum
  </select>
  <select id="selectAddCurriculum" resultMap="AddCurriculumAll">
    SELECT a.*,b.*,c.`name`,c.picture,d.user_id,d.user_Name,d.wechat
    FROM tbl_add_curriculum a LEFT JOIN tbl_tution b
    ON a.tution_id = b.tution_id
    LEFT JOIN tbl_curriculum c
    ON b.curriculum_id = c.curriculum_id
    LEFT JOIN tbl_user d
    ON a.user_id = d.user_id
    WHERE a.add_id = #{addId,jdbcType=INTEGER}
  </select>

  <select id="tutionId" resultType="java.lang.Integer" resultMap="AddCurriculumAll">
        SELECT a.*,b.*,c.`name`,c.picture,d.user_id,d.user_Name,d.wechat
        FROM tbl_add_curriculum a LEFT JOIN tbl_tution b
        ON a.tution_id = b.tution_id
        LEFT JOIN tbl_curriculum c
        ON b.curriculum_id = c.curriculum_id
        LEFT JOIN tbl_user d
        ON a.user_id = d.user_id
        WHERE a.tution_id = #{tution_id,jdbcType=INTEGER}
  </select>
  <select id="userId" parameterType="java.lang.Integer"  resultMap="AddCurriculumAll">
       SELECT a.*,b.*,c.`name`,c.`main_teacher`,c.picture,d.user_id,d.user_Name,d.wechat
        FROM tbl_add_curriculum a LEFT JOIN tbl_tution b
        ON a.tution_id = b.tution_id
        LEFT JOIN tbl_curriculum c
        ON b.curriculum_id = c.curriculum_id
        LEFT JOIN tbl_user d
        ON a.user_id = d.user_id
        WHERE a.user_id = #{user_id,jdbcType=INTEGER}
  </select>
  <insert id="insertAddCurriculum" parameterType="com.hniu.entity.AddCurriculum" keyProperty="addId" useGeneratedKeys="true">
    insert into tbl_add_curriculum
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="addId != null" >
        add_id,
      </if>
      <if test="tutionId != null" >
        tution_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="courseGrade != null" >
        course_grade,
      </if>
      <if test="isQualified != null" >
        is_qualified,
      </if>
      <if test="star != null" >
        star,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="addId != null" >
        #{addId,jdbcType=INTEGER},
      </if>
      <if test="tutionId != null" >
        #{tutionId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="courseGrade != null" >
        #{courseGrade,jdbcType=DOUBLE},
      </if>
      <if test="isQualified != null" >
        #{isQualified,jdbcType=BIT},
      </if>
      <if test="star != null" >
        #{star,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
</mapper>